:root{
  --primary-color:#E7F3F1;
  --secondary-color:#08816D;
  --risk-notifi:#FFD9D9;
  --alerts-contents:#00000080;
  --primary1-color:#08816D1A;
  --table-head-color:#667085;
  --risk-text:#DC3131;
  --chatbox-bg:#C4DCE0;
  --unread-message:"#607F7A";
  --senderMessage:#607F7A;
  --deatils-navbar-content:#E7E7E7;
  --graycolor:#E7E7E7;
  --comment-btns:#5C5C5C;
}


*{
  margin: 0;
  top: 0;
  padding: 0;
  box-sizing: border-box;
 
}
.headings{
  color: var(--secondary-color);
  text-align: center;
  font-size: 40px;
  font-weight:800;
}

.login-screen{
  background-color:var(--primary-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container{
  display: flex;
  flex-direction: column;
}
.login-form-container{
  width: 400px;
  /* height: 440px; */
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
.form-heading{
  text-align: center;
  font-size: 20px;
}
.sign-in-btn{
  width: 100% !important;
  background-color: var(--secondary-color) !important;
  color: white !important;
}

.forgot-password-container{
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .headings {
    font-size: 30px;
  }

  .login-form-container {
    padding: 20px;
  }

  .form-heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .headings {
    font-size: 25px;
  }

  .login-form-container {
    padding: 15px;
    width: 300px;
    margin-top: 15px;
  }

  .form-heading {
    font-size: 16px;
  }

  .sign-in-btn {
    padding: 10px;
  }
}
.slider-screen{
  background-color: var(--primary-color) !important;
  height: 100vh;
}
.slider-screen menu:focus{
  color: var(--secondary-color) !important;
}
.company-name{
  text-align: center;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 26px;
  /* padding: 10px; */
  /* margin-top: 10px; */
}

.menu-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);

}

.bottom-menu {
  margin-top: 10px; 
}

/* .ant-menu-item:hover {
  color: green !important;
} */

/* Change selected menu item color */
/* .ant-menu-item-selected {
  color: green !important;
} */

/* Change active menu item color */
/* .ant-menu-item-active {
  color: green !important;
} */

.menu-sider .ant-menu-item:hover{
  color: var(--secondary-color) !important;
}

.menu-sider .ant-menu-item-selected{
  color: var(--secondary-color) !important;
}
.menu-sider .ant-menu-item-active{
  color: var(--secondary-color) !important;
}

.menu-sider .ant-menu-submenu-title:hover {
  color:var(--secondary-color) !important;
}
.menu-container .ant-menu-submenu-selected {
  color:var(--secondary-color) !important;
}

.bottom-menu .ant-menu-item-selected{
  color: var(--secondary-color) !important;
}
.menu-sider .ant-menu-submenu-selected .ant-menu-submenu-title {
  color: var(--secondary-color) !important;
}

.profile-in-header{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.header {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 20px;
  padding-right: 20px; 
}

.profile-header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.icon-container {
  display: flex;
  gap: 10px;
}

.icon-wrapper {
  width: 30px;
  height: 30px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.message-icon{
  background-color: var(--risk-notifi);
  position: relative;
}
.mail-icon{
  background-color: var(--primary-color);
}
/* .icon-wrapper:hover {
  background-color: #B2DFDB;
} */

.drop-down-profile{
  color: var(--secondary-color);
  font-weight: 700 !important;
  
}
.alerts-container {
  display: grid;
  align-items: center;
  justify-content: start;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr)); 
  gap: 20px;
}

.alerts-items-container{
  width: 220px;
  border-radius: 10px;
  height: 80px;
  background-color: var(--primary1-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.alerts-items-count{
  font-size: 22px;
  font-weight: 600;
}

.alerts-items-title{
  color: var(--alerts-contents);
  font-size: 18px;
}
.heading-table-recent-alert{
 color: var(--secondary-color);
}
/* Remove right border for header cells */
.ant-table-thead > tr > th {
  border-right: none !important;
}
.custom-table-risk-alerts .ant-table-thead > tr > th {
  color: var(--table-head-color) !important;
  font-weight: 500;
  border-right: none !important;
}
.custom-table-risk-alerts  .ant-table {
  border: none !important;
}
  .table-container {
    max-height: 200px;
    overflow-y: auto; /* Keep scrolling */
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }

  @media (min-width: 768px) {
    .table-container {
      max-height: 200px; 
    }
  }
  
  @media (min-width: 1024px) {
    .table-container {
      max-height: 200px;
    }
  }
  
  /* Extra Large Screens */
  @media (min-width: 1440px) {
    .table-container {
      max-height: 500px;
    }
  } 

.table-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Edge */
}


.ant-popover .ant-popover-inner {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 20px; 
  padding: 0 !important;
}

.ant-popover {
  border-radius: 20px;
  box-shadow: 0px 4px 15px var(--secondary-color) !important; /* Green shadow */
}

.notification-alerts-container{
  border-radius: 20px ;
}

.notification-container {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px 20px;
  /* border-radius: 15px; */
  padding: 15px;
  display: flex;
  flex-direction: column !important;
  gap: 10px !important;
}

.notification-with-count-container {
  display: flex;
  align-items: center;
  width: 500px;
  min-width: 280px;
  justify-content: space-between; 
  width: 100%;
  background-color: var(--secondary-color);
}

.notification-title {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
 
  gap: 10px;
}

.your-notification-title{
  margin: 0;
}
.notification-count {
  font-size: 12px;
  font-weight:500;
  background-color: white;
  color: var(--secondary-color);
  border-radius: 20px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-width: 60px;
}


.notification-clear {
  display: flex;
  width: 80px;
  background-color: white;
 align-items: center;
 justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  padding: 4px 0px;
}

.notification-clear p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  
  color:var(--secondary-color);
}

.tabs-pane-notification{
  background-color: var(--secondary-color);
  /* padding: 10px; */
  
}


.ant-tabs-nav,
.ant-tabs-nav::before {
  border-bottom: none !important;
}
.ant-tabs-nav {
  border-bottom: none !important;
}

.ant-tabs-ink-bar {
  top: 40px !important; 
  height: 3px !important;
  background-color: #ffffff !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff !important; 
}

.ant-tabs-tab:hover {
  color: #ffffff !important;
}

.ant-tabs-tab {
  color: #ffffff !important;
 
  margin-left: 10px  !important; 
  
}

.ant-tabs-tab:focus-visible,
.ant-tabs-tab:focus,
.ant-tabs-tab-btn:focus {
  color: #f5fffd !important; 
  outline: none !important;
}

.ant-tabs-content{
  gap: 20px;
}


.ant-tabs-content-holder {
  /* margin-top: 10px; */
  padding-bottom: 20px;
  position: relative;
  background-color: white !important;
}

.ant-tabs-tab {
  margin-right: 20px !important; 
  padding: 10px 10px !important; 
}

.ant-tabs .ant-tabs-tab{
  display: block !important;
}
.notification-message-container{
  padding: 10px;
  min-height: 300px;
  max-height: 350px;
  min-width: 450px;
  overflow-y: scroll;
  scrollbar-width: none;
  
}

.ant-popover-inner {
  box-shadow: 0px 4px 10px rgba(0, 128, 0, 0.5); /* Green shadow */
  border-radius: 8px; /* Optional: Adjust border radius */
}

.notification-message-box{
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 450px;
  padding: 10px;
 
  border-bottom: 1px solid black;
  
 
}
.notifcation-message-icon{
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.after-clear-notification-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}
.after-clear-icon{
  font-size: 30px;

}
.after-clear-message{
  font-size: 20px;
}
/* Higher specificity */
.ant-popover,
.ant-popover .ant-popover-content {
  border-radius: 15px !important;
  overflow: hidden !important; /* Ensure rounded corners */
}

.drawer-chatbox{
  background-color: var(--chatbox-bg) !important;
  padding: 0px !important;
}

.drawer-chatbox .ant-drawer .ant-drawer-body {
  padding: 0px !important;
}

.chat-people-type-container{
  
  display: flex;
}
.top-chat-people{
  height: calc(100vh - 50px);
  min-width: 450px;
  display: flex;
  padding: 10px;
  /* align-items: center; */
}
.people-in-chats-container{
  min-width: 300px;
  background-color: white;
  height: calc(100vh - 0px);
}
.search-box-chats{
  padding: 20px;
}
.chats-categery-container{
  display: flex;
  gap: 20px;
  padding: 0px 20px;
  align-items: center;
}
.all-chats-category{
  background-color: var(--secondary-color);
  color: white;
  padding:8px;
  width: 60px;
  text-align: center;
  border-radius: 10px;

}
.unread-category{
  background-color:#607F7A;
  text-align: center;
  padding: 8px;
  width: 80px;
  color: white;
  border-radius: 10px;
}

.last-messages-peopleName-container{
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  /* justify-content: sta; */
  gap: 30px;
  align-items: center;
  /* border-bottom: 1px solid black; */
  /* padding: 10px; */
  cursor: pointer;
}

.name-time-chatbox{
  display: flex;
  align-items: center;
  gap: 100px;
  
}
.name-time-lastMsg-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.user-profile-chatbox{
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-today-closeIcon{

  display: flex;
  text-align: center;
  position: relative;
  left: 50%;
  min-height: 30px;
  /* margin-bottom: 20px; */
}


.closed-icon{
  position: absolute;
  left:180px ;
  font-size: 16px;
  /* background: red; */
  cursor: pointer;
  z-index: 10; 
}
.chat-message {
  
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  gap: 10px;
  min-width: 400px;
  max-width: 400px;
  /* min-height: 100px; */
  
}

.my-message {
  justify-content: flex-end;
}

.other-message {
  justify-content: flex-start;
}

.chats-people-box {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  border-radius: 20px;
  max-width: 60%;
}

.my-message .chats-people-box {
  background-color: #08816D; /* Change color for my messages */
  color: white;
}

.other-message .chats-people-box {
  background-color: var(--senderMessage);
}

.profile-pic-chats {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chats-sender-receiver {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: red; */
  /* min-height: 340px; */
  /* height: 350px; */
  overflow-y: auto;
  scrollbar-width: none;

}

.input-contains-with-chat-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* background-color: red; */
  /* min-height: 300px; */
  /* overflow-y: scroll; */
}
.input-send-message-container{
  width: 300px;
  /* position: absolute; */
  position: relative;
  top: 10%;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.send-message{
  padding: 10px;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}


.header-individual{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-with-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-navbar-container{
  display: flex;
  padding: 10px 30px;
  /* gap: 30px; */
  align-items: center;
  width: 600px;
  max-width: 800px;
  background-color: var(--deatils-navbar-content);
  justify-content: space-around;
  margin-left: 40px;
  border-radius: 20px;
}
.deatils-navbar-content{
  padding: 10px;
  max-width: 200px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}
.active-tab{
  background-color: var(--secondary-color);
  color: white;
}
.customer-info{
  display: flex;
  /* padding: px; */
  gap: 10px;
  margin-bottom:4px;
}
.customer-info p{
  min-width: 200px;
}
.upload-doc-conatiner{
  /* margin-top: 20px; */
  align-items: center;
  padding: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px dotted black; */
  /* max-width: 800px; */
  min-width: 800px;
}
.upload-icon{
  font-size: 50px;
  /* background-color: ; */
  color: var(--secondary-color);
}
.custom-upload-dragger{
  /* border: 1.6px dashed rgb(0, 0, 0) !important; Default color with increased border width */
  transition: border-color 0.3s ease-in-out;
}
.custom-upload-dragger:hover{
  /* border: 1.6px dashed var(--secondary-color) !important; */
}
.upload-btn-container{

}
.upload-btn{
  background-color: var(--secondary-color);
  /* padding: 10px; */
  /* border-radius:  !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  color: white !important;
  font-size: 20px;

}

.custom-upload-dragger .ant-upload-drag {
  border: 1.5px dashed rgb(0, 0, 0) !important;  /* Change border color */
  transition: border-color 0.3s ease-in-out;
}


.custom-upload-dragger .ant-upload-drag:hover {
  border: 1.5px dashed var(--secondary-color) !important;  /* Change border color */
  transition: border-color 0.3s ease-in-out;
}
.date-range-picker{
  padding: 20px;
  background-color: var(--graycolor);
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}





.commet-add-section-container{
  min-width: 1200px;
  max-width: 1200px;
  background-color: var(--graycolor);
  padding: 20px;
  border-radius: 10px;
  
}

.commet-add-section-container textarea{
  margin-bottom: 20px;
  resize: none !important;
  background-color:  var(--graycolor) !important;
}

.custom-text-area.ant-input:focus  {
  box-shadow: none !important; 
  
  border-color: transparent !important;
  outline: none !important;  
}
.buttonm-container-submit{
  display: flex;
 align-items: center;
 justify-content: space-between;
}
.text-desgin-button-container{
  display: flex;
  gap: 20px;

}
.text-desgin-button-container button{
  background-color: transparent !important;
  border: none !important;
  font-size: 20px;
  color: var(--comment-btns) !important;
}


.comment-section {
  margin-bottom: 15px;
}

.comment-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 10px;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--graycolor);
}

.comment-content {
  flex-grow: 1;
}

.comment-name {
  font-size: 18px;
  font-weight: bold;
  color: #08816D;
}

.comment-text {
  margin-bottom: 5px;
}

.comment-actions {
  display: flex;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
}

.reply-input-container {
  display: flex;
  gap: 10px;
  margin-left: 50px;
  margin-top: 10px;
}

.replies-container {
  margin-left: 60px;
  margin-top: 10px;
  border-left: 1.5px dotted #ccc;
  padding-left: 10px;
}

.reply-item {
  font-size: 14px;
  padding: 5px 0;
  /* display: flex; */
  align-items: center;
  gap: 20px;
}

.reply-name {
  font-weight: bold;
}


.reply-comment-name-profile{
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment-submit{
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.comment-submit:focus{
  
}

.custom-transaction-table{
  max-height: 280px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: none;
}



.error {
  color: #ff4d4f;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


.search-transaction{
  padding: 10px;
  background-color: var(--graycolor);
  border-radius: 10px;

}
.search-datefilter-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
}

.card {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  background: linear-gradient(-45deg, #ff6b6b, #f06595, #845ef7, #5c7cfa);
  background-size: 400% 400%;
  animation: gradientAnimation 6s ease infinite;
}

.popover-choose-drawer-update{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #08816D !important;
  padding: 10px 20px;
}
.drawer-risk-alert{
  display: flex;
  align-items: center;
  padding: 20px;
  
}
.drawer-risk-alert p{
  min-width: 150px;
}